---
import JobCard from "../components/JobCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import jobs from "../data/jobs.json";
import projects from "../data/projects.json";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ForwardJS - Job Board & Projects">
  <main>
    <div class="container">
      <section class="section-container">
        <h2 class="jobs-title">Jobs</h2>
        {
          jobs.length > 0 ? (
            <div class="card-grid">
              {jobs.map((job) => (
                <JobCard job={job} />
              ))}
            </div>
          ) : (
            <p>No job listings available at the moment.</p>
          )
        }
      </section>

      <section class="section-container">
        <h2 class="projects-title">Open Projects</h2>
        {
          projects.length > 0 ? (
            <div class="card-grid">
              {projects.map((project) => (
                <ProjectCard project={project} />
              ))}
            </div>
          ) : (
            <p>No project listings available at the moment.</p>
          )
        }
      </section>
    </div>
    <div class="footer-content">
      <p>
        To add a job or project, submit a pull request to our GitHub repository. <br
        />
        <br />
        Modify <code>src/data/jobs.json</code> for job postings or
        <code>src/data/projects.json</code> for project listings.
      </p>
      <a
        href="https://github.com/OttawaReactJS/forwardjs.com/pulls"
        target="_blank"
        rel="noopener noreferrer"
        class="cta-button"
      >
        Create a Pull Request
      </a>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 2rem;
    padding: 0 1.5rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-content p {
    color: #555;
    margin-bottom: 2rem;
  }

  .cta-button {
    background-color: var(--purple);
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }

  .cta-button:hover {
    background-color: #5a3e8e;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }

  .section-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  }

  .jobs-title,
  .projects-title {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .jobs-title {
    color: var(--purple);
  }

  .projects-title {
    color: var(--blue);
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
</style>
